.welcome-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: teal;
  top: 0;
  left: 0;
  color: white;
  z-index: 5;
  text-align: center;

  p {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 10.5s steps(20, end);
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}

.welcome-leave {
  opacity: 1;
}

.welcome-leave.welcome-leave-active {
  opacity: 0;
  transition: opacity 9.5s ease-out;
}
